.clients {
  padding-top: 5em;
  font-size: rem(16px);
  font-weight: 500;

  &__title {
    margin-bottom: 3.5em;

    p {
      font-size: rem(35px);
      font-weight: 600;
      line-height: rem(42px);
    }
  }

  .accord-card {
    @include flexy(column, space-between);
    gap: 15px;
    height: 297px;
    min-width: 293px;
    border: 1px solid #353232;
    background-color: #fbf3ed;
    padding: 50px 30px 30px 30px;
    border-radius: 10px;
    position: relative;

    img {
      position: absolute;
      top: -80px;
      left: 0;
      right: 0;
      margin: auto;
    }

    details summary::webkit-details-marker {
      display: none;
    }

    details > summary {
      list-style: none;
    }

    details summary:before {
      display: none;
      cursor: pointer;
    }

    details[open] summary:before {
      transform: rotate(45deg);
    }

    &__title {
      min-width: 230px;
      font-size: rem(18px);
      font-weight: 700;
    }
  }

  &__title {
    text-align: center;
  }

  .container {
    @include flexy(row, space-around);
  }

  &__left,
  &__right {
    @include flexy(column, space-between);
    gap: 105px;
    width: 33%;

    div {
      &:nth-child(2) {
        height: 247px;
      }
    }
  }

  &__center {
    @include flexy(column, space-between);
    width: calc(293px + 13 * ((100vw - 375px) / 1440));
    height: calc(590px + 19 * ((100vw - 375px) / 1440));
    background: url('../img/clients/tel.png') center/cover no-repeat;
    padding: 2em 1.5em 3.5em 1.5em;

    h3 {
      text-align: left;
    }

    span {
      font-size: rem(18px);
      font-weight: 700;
      text-align: center;
    }

    .contact-badge {
      a {
        text-decoration: none;
        color: $boldFontColor;

        &:first-child {
          padding-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 1240px) {
  .clients {
    .accord-card {
      height: max-content;

      img {
        width: 90px;
        height: 90px;
        top: -45px;
      }

      &__title {
        font-size: rem(22px);
        line-height: rem(27px);
      }

      details summary:before {
        content: '\271A';
        display: inline-block;
        margin-right: 10px;
        transition: 0.5s;
      }
    }

    .container {
      padding-top: 20px;
      flex-direction: column;
      gap: 2em;
    }

    &__left,
    &__right {
      @include flexy(column, space-between);

      div {
        &:nth-child(2) {
          height: unset;
        }
      }
    }

    &__left {
      order: 1;
    }
    &__center {
      order: 3;
    }
    &__right {
      order: 2;
      padding-top: 105px;
    }
  }
}
