.first {
    height: calc(100vh - 60px);
    text-align: center;
    
    .container {
        @include centry(80%);
    }
    
    
    &__title {
        &-subtext {
            @include fonty(0.88rem, 500, 1.25rem);
        }
        
        .h1 {
            font-family: $fontAccent;
            //@include fonty(2.5rem, 600, 3.375rem);
            font-size: rem(40px);
            
            color: $titleColor;
            text-transform: uppercase;
        }
        
        .foxyBadge{
            font-size: rem(14px);
            line-height: rem(15px);
            font-weight: 600;
            
            margin: 0 auto;
            
            width: calc(300px + 65 * ((100vw - 375px) / 1440));
            height: calc(40px + 13 * ((100vw - 375px) / 1440));
            
            padding: 11px;
        }
    }
    
    &__content {
        &-picture {
        height: 55vh;
        }
    }

}