.needit {
  position: relative;

  &__container {
    display: block;
    @include centry(91.5%);
    // border: $myBorder;
  }

  &__title,
  &__subtitle {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 42.8px;
  }
  &__layout {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: "col1 col2 col3";
    justify-items: center;
    justify-content: baseline;

    &__col1,
    &__col3 {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(2, 1fr);
    }

    &__col1 {
      height: auto;
      width: fit-content;
      // border: $myBorder;
      grid-area: col1;
    }
    &__col2 {
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../img/needit/tel.png");
      // border: $myBorder;
      grid-area: col2;

      &-content {
        height: auto;
        width: 302px;
        padding-top: 30px;
      }

      picture img {
        width: 191px;
      }
    }
    &__col3 {
      height: auto;
      width: fit-content;
      // border: $myBorder;
      grid-area: col3;
    }

    &__col__card {
      width: auto;
      height: fit-content;
    }
  }
  &__card {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: auto auto auto;
    width: fit-content;

    &-image {
      position: relative;
      top: 30px;
      picture img {
        width: 121px;
      }
    }

    &__content {
      padding-top: 30px;
      border-style: solid;
      border-radius: 10px;
      border-width: 1px;
      border-color: #353232;
      &-title {
        color: #353232;
        font-weight: 700;
        text-align: center;
      }
      &-text {
        width: 391px;
        text-align: left;
        line-height: 25.2px;
        padding-left: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 30px;
      }
    }
  }
}

@media (max-width: 890px) {
  .needit {
    &__layout {
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
      grid-auto-flow: column;
      grid-template-areas:
        "col1"
        "col3"
        "col2";
    }
  }
}
