/*---------------------COLORS-------------------------*/

$bgColor: rgba(245, 232, 220, 0.7);
// #FBE9E9B2 70%- it was nearby;

//all the text on the page was made in this color:
$fontColor: #4b4242;

//is used for sub-title and bold font
$boldFontColor: #353232;

//h2 font color
$titleColor: #ba94bd;

//in the purpose of webDev:
$myBorder: 2px solid red;

/*---------------------FONTS-------------------------*/

$fontMain: "Gilroy";

$fontAccent: "Playfair";
